#root {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;

  @media screen and (min-width: 48rem) {
    width: 60%;
    padding: 1rem 0;
  }
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input {
  padding: 16px 8px;
  background-color: #F9FAFB;
  color: #111928;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
}

.search-input::placeholder {
  color: #6B7280
}

.search-button {
  border-radius: 8px;
  background-color: #1A56DB;
  color: white;
  margin-top: 8px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.user-card {
  margin-top: 1rem;
  border-radius: 8px;
  background-color: white;
  padding: 16px;
  border: 1px solid #E5E7EB;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;

  .username-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
    .icon-container {
      margin-left: auto;
    }
  }
}

.repo-card {
  margin: 1rem 0 0 2rem;  
  border-radius: 8px;
  background-color: white;
  padding: 16px;
  border: 1px solid #E5E7EB;

  display: flex;
  flex-direction: column;
}

.repo-title {
  display: flex;
  flex-direction: row;

  .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  
  .star {
    margin-left: auto;
  }
}
